<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>ＣＲＹＰＴＯＧＲＡＰＨＹ　ｅーｗｏｒｌｄ</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      <div class="bigtext">
        <img class="big-l" src="static/img/diagonal_red_text_l.png">
        <img class="big-r" src="static/img/diagonal_red_text_r.png">
      </div>
      <div class="stripu">
        <img src="static/img/header.png">
      </div>
      
      <div class="header">
        <img src="static/img/e_world_header.png">
      </div>

      
      <div class="intro text">
        <p>Dear friends! I am back with more and more cryptography informations for you! In this specialty I am pleased to share some knowledge with you on <b>AFFINE TRANSFORMATIONS (アフィン変換).</b></p>
        <p>Apropos of this special event, I would also like to wish the GREATEST LUCK to our friends from neigboring Yugra, Russia, solving an <b>information security challenge (フラグをキャプチャ)</b> for whom this specialty of CRYPTOGRAPHY E-WORLD is produced.</p>
      </div>


      
      <img class="title" src="static/img/without_further_ado.png">


      <div class="with-images">
      <img class="left" src="static/img/parabola_formura.png">
      <div class="text">
        <img class="heading" src="static/img/definition.png">
        <p>The affine cipher is a type of monoalphabetic substitution cipher, where each letter in an alphabet is mapped to its numeric equivalent, encrypted using a simple mathematical function, and converted back to a letter.</p>
        <p><b>Example.</b> Suppose you have a letter "B". It is the second letter of <b>Italian alphabet (イタリア語のアルファベット).</b> We impose a function f(x) = x·x. Thus, f(2) = 4. "B" → "D". MIRU?</p>
      </div>
      <img class="left" src="static/img/parabola.png">
      </div>


      
      <img class="title" src="static/img/easy.png">



      <div class="text">
        <img class="heading" src="static/img/tasuku.png">
        <p>The use of <b>AFFINE TRANSFORMATIONS</b> in cryptography is ubiquitous. There are lots of examples in different aspects of the Human culture.</p>
        <p style="font-weight: bold; color: #e40">But rarely we see an AFFINE TRANSFORMATIONS based cipher for native NIHONGO-NO KANA (Japanese writing)!</p>
        <p>I thought a bit and introduced just a cipher. This is a <b>TASK</b> for you. Use all the knowledge you gathered.　This is a cipher seen in many cultures through and through... It is based on manipulations on a traditional Japanese <b>HIRAGANA <nobr>(ヒラガナ)</nobr></b> and its traditional ordering. And here is the ciphertext:</p>

        <pre class="ciphertext" id="ciphertext">{{ciphertext}}</pre>
        <label for="ciphertext">CIPHERTEXT↑</label>

        <p>Wanna have some hints? A man can always use some help without losing their honour, that's just the situation.</p>

        <ul>
          <li>The alphabet is decided by a poem.</li>
          <li>The transformation is well-known.</li>
          <li>Word <b>いす</b> is a <b>Word-Play!</b></li>
        </ul>

        <p>Input the valid deciphered text in the field below. It your answer is correct, there will be a treat for you and a big joy of solving an interesting problem, too!</p>

        <form method="post">
          <textarea name="answer" id="answer" placeholder="回答
回答
回答" class="answer"></textarea>
          <input type="submit" value="Respond">
          <label for="answer">INPUT DECIPHERED TEXT HERE↑</label>
        </form>

        <img class="mascot" src="static/img/mascot/{{mascot}}.png">
        
        {% if flag and not msg %}
        <p class="treat"><br><br>Treat: <code>{{flag}}</code><br></p>
        {% else %}
        <p style="margin-top: 3em; margin-bottom: 2em; margin-left: 120px; font-size: 17px;">
          {{msg|default("May this specialty's mascot—Matishyahu-kun—help you with this task!")}}
        </p>
        {% endif %}
        
      </div>
      <center style="color: #fff">
        © Ugura Imaginary Japanese Friend MMXXI
      </center>

      
                                                  <img class="title final" src="static/img/to_be_continued.png">
    </body>
</html>
