{% extends "base.html" %}
{% block content %}
<div class="generic">
  <h1>Города России</h1>
  <h2>Для Вашего удобства ниже представлен обширный список всех городов, в которых открыты представительства Авиакомпании S21 Airlines.</h2>
  <ul>
  <li>Абаза</li>
  <li>Абакан</li>
  <li>Абдулино</li>
  <li>Абинск</li>
  <li>Агидель</li>
  <li>Агрыз</li>
  <li>Адыгейск</li>
  <li>Азнакаево</li>
  <li>Азов</li>
  <li>Ак-Довурак</li>
  <li>Аксай</li>
  <li>Алагир</li>
  <li>Алапаевск</li>
  <li>Алатырь</li>
  <li>Алдан</li>
  <li>Алейск</li>
  <li>Александров</li>
  <li>Александровск</li>
  <li>Александровск-Сахалинский</li>
  <li>Алексеевка</li>
  <li>Алексин</li>
  <li>Алзамай</li>
  <li>Альметьевск</li>
  <li>Амурск</li>
  <li>Анадырь</li>
  <li>Анапа</li>
  <li>Ангарск</li>
  <li>Андреаполь</li>
  <li>Анжеро-Судженск</li>
  <li>Анива</li>
  <li>Апатиты</li>
  <li>Апрелевка</li>
  <li>Апшеронск</li>
  <li>Арамиль</li>
  <li>Аргун</li>
  <li>Ардатов</li>
  <li>Ардон</li>
  <li>Арзамас</li>
  <li>Аркадак</li>
  <li>Армавир</li>
  <li>Армянск</li>
  <li>Арсеньев</li>
  <li>Арск</li>
  <li>Артём</li>
  <li>Артёмовск</li>
  <li>Артёмовский</li>
  <li>Архангельск</li>
  <li>Асбест</li>
  <li>Асино</li>
  <li>Астрахань</li>
  <li>Аткарск</li>
  <li>Ахтубинск</li>
  <li>Ачинск</li>
  <li>Аша</li>
  <li>Бабаево</li>
  <li>Бабушкин</li>
  <li>Бавлы</li>
  <li>Багратионовск</li>
  <li>Байкальск</li>
  <li>Баймак</li>
  <li>Бакал</li>
  <li>Баксан</li>
  <li>Балабаново</li>
  <li>Балаково</li>
  <li>Балахна</li>
  <li>Балашиха</li>
  <li>Балашов</li>
  <li>Балей</li>
  <li>Балтийск</li>
  <li>Барабинск</li>
  <li>Барнаул</li>
  <li>Барыш</li>
  <li>Батайск</li>
  <li>Бахчисарай</li>
  <li>Бежецк</li>
  <li>Белая Калитва</li>
  <li>Белая Холуница</li>
  <li>Белгород</li>
  <li>Белебей</li>
  <li>Белёв</li>
  <li>Белинский</li>
  <li>Белово</li>
  <li>Белогорск</li>
  <li>Белогорск</li>
  <li>Белозерск</li>
  <li>Белокуриха</li>
  <li>Беломорск</li>
  <li>Белоозёрский</li>
  <li>Белорецк</li>
  <li>Белореченск</li>
  <li>Белоусово</li>
  <li>Белоярский</li>
  <li>Белый</li>
  <li>Бердск</li>
  <li>Березники</li>
  <li>Берёзовский</li>
  <li>Берёзовский</li>
  <li>Беслан</li>
  <li>Бийск</li>
  <li>Бикин</li>
  <li>Билибино</li>
  <li>Биробиджан</li>
  <li>Бирск</li>
  <li>Бирюсинск</li>
  <li>Бирюч</li>
  <li>Благовещенск</li>
  <li>Благовещенск</li>
  <li>Благодарный</li>
  <li>Бобров</li>
  <li>Богданович</li>
  <li>Богородицк</li>
  <li>Богородск</li>
  <li>Боготол</li>
  <li>Богучар</li>
  <li>Бодайбо</li>
  <li>Бокситогорск</li>
  <li>Болгар</li>
  <li>Бологое</li>
  <li>Болотное</li>
  <li>Болохово</li>
  <li>Болхов</li>
  <li>Большой Камень</li>
  <li>Бор</li>
  <li>Борзя</li>
  <li>Борисоглебск</li>
  <li>Боровичи</li>
  <li>Боровск</li>
  <li>Бородино</li>
  <li>Братск</li>
  <li>Бронницы</li>
  <li>Брянск</li>
  <li>Бугульма</li>
  <li>Бугуруслан</li>
  <li>Будённовск</li>
  <li>Бузулук</li>
  <li>Буинск</li>
  <li>Буй</li>
  <li>Буйнакск</li>
  <li>Бутурлиновка</li>
  <li>Валдай</li>
  <li>Валуйки</li>
  <li>Велиж</li>
  <li>Великие Луки</li>
  <li>Великий Новгород</li>
  <li>Великий Устюг</li>
  <li>Вельск</li>
  <li>Венёв</li>
  <li>Верещагино</li>
  <li>Верея</li>
  <li>Верхнеуральск</li>
  <li>Верхний Тагил</li>
  <li>Верхний Уфалей</li>
  <li>Верхняя Пышма</li>
  <li>Верхняя Салда</li>
  <li>Верхняя Тура</li>
  <li>Верхотурье</li>
  <li>Верхоянск</li>
  <li>Весьегонск</li>
  <li>Ветлуга</li>
  <li>Видное</li>
  <li>Вилюйск</li>
  <li>Вилючинск</li>
  <li>Вихоревка</li>
  <li>Вичуга</li>
  <li>Владивосток</li>
  <li>Владикавказ</li>
  <li>Владимир</li>
  <li>Волгоград</li>
  <li>Волгодонск</li>
  <li>Волгореченск</li>
  <li>Волжск</li>
  <li>Волжский</li>
  <li>Вологда</li>
  <li>Володарск</li>
  <li>Волоколамск</li>
  <li>Волосово</li>
  <li>Волхов</li>
  <li>Волчанск</li>
  <li>Вольск</li>
  <li>Воркута</li>
  <li>Воронеж</li>
  <li>Ворсма</li>
  <li>Воскресенск</li>
  <li>Воткинск</li>
  <li>Всеволожск</li>
  <li>Вуктыл</li>
  <li>Выборг</li>
  <li>Выкса</li>
  <li>Высоковск</li>
  <li>Высоцк</li>
  <li>Вытегра</li>
  <li>Вышний Волочёк</li>
  <li>Вяземский</li>
  <li>Вязники</li>
  <li>Вязьма</li>
  <li>Вятские Поляны</li>
  <li>Гаврилов Посад</li>
  <li>Гаврилов-Ям</li>
  <li>Гагарин</li>
  <li>Гаджиево</li>
  <li>Гай</li>
  <li>Галич</li>
  <li>Гатчина</li>
  <li>Гвардейск</li>
  <li>Гдов</li>
  <li>Геленджик</li>
  <li>Георгиевск</li>
  <li>Глазов</li>
  <li>Голицыно</li>
  <li>Горбатов</li>
  <li>Горно-Алтайск</li>
  <li>Горнозаводск</li>
  <li>Горняк</li>
  <li>Городец</li>
  <li>Городище</li>
  <li>Городовиковск</li>
  <li>Гороховец</li>
  <li>Горячий Ключ</li>
  <li>Грайворон</li>
  <li>Гремячинск</li>
  <li>Грозный</li>
  <li>Грязи</li>
  <li>Грязовец</li>
  <li>Губаха</li>
  <li>Губкин</li>
  <li>Губкинский</li>
  <li>Гудермес</li>
  <li>Гуково</li>
  <li>Гулькевичи</li>
  <li>Гурьевск</li>
  <li>Гурьевск</li>
  <li>Гусев</li>
  <li>Гусиноозёрск</li>
  <li>Гусь-Хрустальный</li>
  <li>Давлеканово</li>
  <li>Дагестанские Огни</li>
  <li>Далматово</li>
  <li>Дальнегорск</li>
  <li>Дальнереченск</li>
  <li>Данилов</li>
  <li>Данков</li>
  <li>Дегтярск</li>
  <li>Дедовск</li>
  <li>Демидов</li>
  <li>Дербент</li>
  <li>Десногорск</li>
  <li>Джанкой</li>
  <li>Дзержинск</li>
  <li>Дзержинский</li>
  <li>Дивногорск</li>
  <li>Дигора</li>
  <li>Димитровград</li>
  <li>Дмитриев</li>
  <li>Дмитров</li>
  <li>Дмитровск</li>
  <li>Дно</li>
  <li>Добрянка</li>
  <li>Долгопрудный</li>
  <li>Долинск</li>
  <li>Домодедово</li>
  <li>Донецк</li>
  <li>Донской</li>
  <li>Дорогобуж</li>
  <li>Дрезна</li>
  <li>Дубна</li>
  <li>Дубовка</li>
  <li>Дудинка</li>
  <li>Духовщина</li>
  <li>Дюртюли</li>
  <li>Дятьково</li>
  <li>Евпатория</li>
  <li>Егорьевск</li>
  <li>Ейск</li>
  <li>Екатеринбург</li>
  <li>Елабуга</li>
  <li>Елец</li>
  <li>Елизово</li>
  <li>Ельня</li>
  <li>Еманжелинск</li>
  <li>Емва</li>
  <li>Енисейск</li>
  <li>Ермолино</li>
  <li>Ершов</li>
  <li>Ессентуки</li>
  <li>Ефремов</li>
  <li>Железноводск</li>
  <li>Железногорск</li>
  <li>Железногорск</li>
  <li>Железногорск-Илимский</li>
  <li>Жердевка</li>
  <li>Жигулёвск</li>
  <li>Жиздра</li>
  <li>Жирновск</li>
  <li>Жуков</li>
  <li>Жуковка</li>
  <li>Жуковский</li>
  <li>Завитинск</li>
  <li>Заводоуковск</li>
  <li>Заволжск</li>
  <li>Заволжье</li>
  <li>Задонск</li>
  <li>Заинск</li>
  <li>Закаменск</li>
  <li>Заозёрный</li>
  <li>Заозёрск</li>
  <li>Западная Двина</li>
  <li>Заполярный</li>
  <li>Зарайск</li>
  <li>Заречный</li>
  <li>Заречный</li>
  <li>Заринск</li>
  <li>Звенигово</li>
  <li>Звенигород</li>
  <li>Зверево</li>
  <li>Зеленогорск</li>
  <li>Зеленоградск</li>
  <li>Зеленодольск</li>
  <li>Зеленокумск</li>
  <li>Зерноград</li>
  <li>Зея</li>
  <li>Зима</li>
  <li>Златоуст</li>
  <li>Злынка</li>
  <li>Змеиногорск</li>
  <li>Знаменск</li>
  <li>Зубцов</li>
  <li>Зуевка</li>
  <li>Ивангород</li>
  <li>Иваново</li>
  <li>Ивантеевка</li>
  <li>Ивдель</li>
  <li>Игарка</li>
  <li>Ижевск</li>
  <li>Избербаш</li>
  <li>Изобильный</li>
  <li>Иланский</li>
  <li>Инза</li>
  <li>Иннополис</li>
  <li>Инсар</li>
  <li>Инта</li>
  <li>Ипатово</li>
  <li>Ирбит</li>
  <li>Иркутск</li>
  <li>Исилькуль</li>
  <li>Искитим</li>
  <li>Истра</li>
  <li>Ишим</li>
  <li>Ишимбай</li>
  <li>Йошкар-Ола</li>
  <li>Кадников</li>
  <li>Казань</li>
  <li>Калач</li>
  <li>Калач-на-Дону</li>
  <li>Калачинск</li>
  <li>Калининград</li>
  <li>Калининск</li>
  <li>Калтан</li>
  <li>Калуга</li>
  <li>Калязин</li>
  <li>Камбарка</li>
  <li>Каменка</li>
  <li>Каменногорск</li>
  <li>Каменск-Уральский</li>
  <li>Каменск-Шахтинский</li>
  <li>Камень-на-Оби</li>
  <li>Камешково</li>
  <li>Камызяк</li>
  <li>Камышин</li>
  <li>Камышлов</li>
  <li>Канаш</li>
  <li>Кандалакша</li>
  <li>Канск</li>
  <li>Карабаново</li>
  <li>Карабаш</li>
  <li>Карабулак</li>
  <li>Карасук</li>
  <li>Карачаевск</li>
  <li>Карачев</li>
  <li>Каргат</li>
  <li>Каргополь</li>
  <li>Карпинск</li>
  <li>Карталы</li>
  <li>Касимов</li>
  <li>Касли</li>
  <li>Каспийск</li>
  <li>Катав-Ивановск</li>
  <li>Катайск</li>
  <li>Качканар</li>
  <li>Кашин</li>
  <li>Кашира</li>
  <li>Кедровый</li>
  <li>Кемерово</li>
  <li>Кемь</li>
  <li>Керчь</li>
  <li>Кизел</li>
  <li>Кизилюрт</li>
  <li>Кизляр</li>
  <li>Кимовск</li>
  <li>Кимры</li>
  <li>Кингисепп</li>
  <li>Кинель</li>
  <li>Кинешма</li>
  <li>Киреевск</li>
  <li>Киренск</li>
  <li>Киржач</li>
  <li>Кириллов</li>
  <li>Кириши</li>
  <li>Киров</li>
  <li>Киров</li>
  <li>Кировград</li>
  <li>Кирово-Чепецк</li>
  <li>Кировск</li>
  <li>Кировск</li>
  <li>Кирс</li>
  <li>Кирсанов</li>
  <li>Киселёвск</li>
  <li>Кисловодск</li>
  <li>Клин</li>
  <li>Клинцы</li>
  <li>Княгинино</li>
  <li>Ковдор</li>
  <li>Ковров</li>
  <li>Ковылкино</li>
  <li>Когалым</li>
  <li>Кодинск</li>
  <li>Козельск</li>
  <li>Козловка</li>
  <li>Козьмодемьянск</li>
  <li>Кола</li>
  <li>Кологрив</li>
  <li>Коломна</li>
  <li>Колпашево</li>
  <li>Кольчугино</li>
  <li>Коммунар</li>
  <li>Комсомольск</li>
  <li>Комсомольск-на-Амуре</li>
  <li>Конаково</li>
  <li>Кондопога</li>
  <li>Кондрово</li>
  <li>Константиновск</li>
  <li>Копейск</li>
  <li>Кораблино</li>
  <li>Кореновск</li>
  <li>Коркино</li>
  <li>Королёв</li>
  <li>Короча</li>
  <li>Корсаков</li>
  <li>Коряжма</li>
  <li>Костерёво</li>
  <li>Костомукша</li>
  <li>Кострома</li>
  <li>Котельники</li>
  <li>Котельниково</li>
  <li>Котельнич</li>
  <li>Котлас</li>
  <li>Котово</li>
  <li>Котовск</li>
  <li>Кохма</li>
  <li>Красавино</li>
  <li>Красноармейск</li>
  <li>Красноармейск</li>
  <li>Красновишерск</li>
  <li>Красногорск</li>
  <li>Краснодар</li>
  <li>Краснозаводск</li>
  <li>Краснознаменск</li>
  <li>Краснознаменск</li>
  <li>Краснокаменск</li>
  <li>Краснокамск</li>
  <li>Красноперекопск</li>
  <li>Краснослободск</li>
  <li>Краснослободск</li>
  <li>Краснотурьинск</li>
  <li>Красноуральск</li>
  <li>Красноуфимск</li>
  <li>Красноярск</li>
  <li>Красный Кут</li>
  <li>Красный Сулин</li>
  <li>Красный Холм</li>
  <li>Кремёнки</li>
  <li>Кропоткин</li>
  <li>Крымск</li>
  <li>Кстово</li>
  <li>Кубинка</li>
  <li>Кувандык</li>
  <li>Кувшиново</li>
  <li>Кудрово</li>
  <li>Кудымкар</li>
  <li>Кузнецк</li>
  <li>Куйбышев</li>
  <li>Кукмор</li>
  <li>Кулебаки</li>
  <li>Кумертау</li>
  <li>Кунгур</li>
  <li>Купино</li>
  <li>Курган</li>
  <li>Курганинск</li>
  <li>Курильск</li>
  <li>Курлово</li>
  <li>Куровское</li>
  <li>Курск</li>
  <li>Куртамыш</li>
  <li>Курчалой</li>
  <li>Курчатов</li>
  <li>Куса</li>
  <li>Кушва</li>
  <li>Кызыл</li>
  <li>Кыштым</li>
  <li>Кяхта</li>
  <li>Лабинск</li>
  <li>Лабытнанги</li>
  <li>Лагань</li>
  <li>Ладушкин</li>
  <li>Лаишево</li>
  <li>Лакинск</li>
  <li>Лангепас</li>
  <li>Лахденпохья</li>
  <li>Лебедянь</li>
  <li>Лениногорск</li>
  <li>Ленинск</li>
  <li>Ленинск-Кузнецкий</li>
  <li>Ленск</li>
  <li>Лермонтов</li>
  <li>Лесной</li>
  <li>Лесозаводск</li>
  <li>Лесосибирск</li>
  <li>Ливны</li>
  <li>Ликино-Дулёво</li>
  <li>Липецк</li>
  <li>Липки</li>
  <li>Лиски</li>
  <li>Лихославль</li>
  <li>Лобня</li>
  <li>Лодейное Поле</li>
  <li>Лосино-Петровский</li>
  <li>Луга</li>
  <li>Луза</li>
  <li>Лукоянов</li>
  <li>Луховицы</li>
  <li>Лысково</li>
  <li>Лысьва</li>
  <li>Лыткарино</li>
  <li>Льгов</li>
  <li>Любань</li>
  <li>Люберцы</li>
  <li>Любим</li>
  <li>Людиново</li>
  <li>Лянтор</li>
  <li>Магадан</li>
  <li>Магас</li>
  <li>Магнитогорск</li>
  <li>Майкоп</li>
  <li>Майский</li>
  <li>Макаров</li>
  <li>Макарьев</li>
  <li>Макушино</li>
  <li>Малая Вишера</li>
  <li>Малгобек</li>
  <li>Малмыж</li>
  <li>Малоархангельск</li>
  <li>Малоярославец</li>
  <li>Мамадыш</li>
  <li>Мамоново</li>
  <li>Мантурово</li>
  <li>Мариинск</li>
  <li>Мариинский Посад</li>
  <li>Маркс</li>
  <li>Махачкала</li>
  <li>Мглин</li>
  <li>Мегион</li>
  <li>Медвежьегорск</li>
  <li>Медногорск</li>
  <li>Медынь</li>
  <li>Межгорье</li>
  <li>Междуреченск</li>
  <li>Мезень</li>
  <li>Меленки</li>
  <li>Мелеуз</li>
  <li>Менделеевск</li>
  <li>Мензелинск</li>
  <li>Мещовск</li>
  <li>Миасс</li>
  <li>Микунь</li>
  <li>Миллерово</li>
  <li>Минеральные Воды</li>
  <li>Минусинск</li>
  <li>Миньяр</li>
  <li>Мирный</li>
  <li>Мирный</li>
  <li>Михайлов</li>
  <li>Михайловка</li>
  <li>Михайловск</li>
  <li>Михайловск</li>
  <li>Мичуринск</li>
  <li>Могоча</li>
  <li>Можайск</li>
  <li>Можга</li>
  <li>Моздок</li>
  <li>Мончегорск</li>
  <li>Морозовск</li>
  <li>Моршанск</li>
  <li>Мосальск</li>
  <li>Москва</li>
  <li>Муравленко</li>
  <li>Мураши</li>
  <li>Мурино</li>
  <li>Мурманск</li>
  <li>Муром</li>
  <li>Мценск</li>
  <li>Мыски</li>
  <li>Мытищи</li>
  <li>Мышкин</li>
  <li>Набережные Челны</li>
  <li>Навашино</li>
  <li>Наволоки</li>
  <li>Надым</li>
  <li>Назарово</li>
  <li>Назрань</li>
  <li>Называевск</li>
  <li>Нальчик</li>
  <li>Нариманов</li>
  <li>Наро-Фоминск</li>
  <li>Нарткала</li>
  <li>Нарьян-Мар</li>
  <li>Находка</li>
  <li>Невель</li>
  <li>Невельск</li>
  <li>Невинномысск</li>
  <li>Невьянск</li>
  <li>Нелидово</li>
  <li>Неман</li>
  <li>Нерехта</li>
  <li>Нерчинск</li>
  <li>Нерюнгри</li>
  <li>Нестеров</li>
  <li>Нефтегорск</li>
  <li>Нефтекамск</li>
  <li>Нефтекумск</li>
  <li>Нефтеюганск</li>
  <li>Нея</li>
  <li>Нижневартовск</li>
  <li>Нижнекамск</li>
  <li>Нижнеудинск</li>
  <li>Нижние Серги</li>
  <li>Нижний Ломов</li>
  <li>Нижний Новгород</li>
  <li>Нижний Тагил</li>
  <li>Нижняя Салда</li>
  <li>Нижняя Тура</li>
  <li>Николаевск</li>
  <li>Николаевск-на-Амуре</li>
  <li>Никольск</li>
  <li>Никольск</li>
  <li>Никольское</li>
  <li>Новая Ладога</li>
  <li>Новая Ляля</li>
  <li>Новоалександровск</li>
  <li>Новоалтайск</li>
  <li>Новоаннинский</li>
  <li>Нововоронеж</li>
  <li>Новодвинск</li>
  <li>Новозыбков</li>
  <li>Новокубанск</li>
  <li>Новокузнецк</li>
  <li>Новокуйбышевск</li>
  <li>Новомичуринск</li>
  <li>Новомосковск</li>
  <li>Новопавловск</li>
  <li>Новоржев</li>
  <li>Новороссийск</li>
  <li>Новосибирск</li>
  <li>Новосиль</li>
  <li>Новосокольники</li>
  <li>Новотроицк</li>
  <li>Новоузенск</li>
  <li>Новоульяновск</li>
  <li>Новоуральск</li>
  <li>Новохопёрск</li>
  <li>Новочебоксарск</li>
  <li>Новочеркасск</li>
  <li>Новошахтинск</li>
  <li>Новый Оскол</li>
  <li>Новый Уренгой</li>
  <li>Ногинск</li>
  <li>Нолинск</li>
  <li>Норильск</li>
  <li>Ноябрьск</li>
  <li>Нурлат</li>
  <li>Нытва</li>
  <li>Нюрба</li>
  <li>Нягань</li>
  <li>Нязепетровск</li>
  <li>Няндома</li>
  <li>Облучье</li>
  <li>Обнинск</li>
  <li>Обоянь</li>
  <li>Обь</li>
  <li>Одинцово</li>
  <li>Озёрск</li>
  <li>Озёрск</li>
  <li>Озёры</li>
  <li>Октябрьск</li>
  <li>Октябрьский</li>
  <li>Окуловка</li>
  <li>Олёкминск</li>
  <li>Оленегорск</li>
  <li>Олонец</li>
  <li>Омск</li>
  <li>Омутнинск</li>
  <li>Онега</li>
  <li>Опочка</li>
  <li>Орёл</li>
  <li>Оренбург</li>
  <li>Орехово-Зуево</li>
  <li>Орлов</li>
  <li>Орск</li>
  <li>Оса</li>
  <li>Осинники</li>
  <li>Осташков</li>
  <li>Остров</li>
  <li>Островной</li>
  <li>Острогожск</li>
  <li>Отрадное</li>
  <li>Отрадный</li>
  <li>Оха</li>
  <li>Оханск</li>
  <li>Очёр</li>
  <li>Павлово</li>
  <li>Павловск</li>
  <li>Павловский Посад</li>
  <li>Палласовка</li>
  <li>Партизанск</li>
  <li>Певек</li>
  <li>Пенза</li>
  <li>Первомайск</li>
  <li>Первоуральск</li>
  <li>Перевоз</li>
  <li>Пересвет</li>
  <li>Переславль-Залесский</li>
  <li>Пермь</li>
  <li>Пестово</li>
  <li>Петров Вал</li>
  <li>Петровск</li>
  <li>Петровск-Забайкальский</li>
  <li>Петрозаводск</li>
  <li>Петропавловск-Камчатский</li>
  <li>Петухово</li>
  <li>Петушки</li>
  <li>Печора</li>
  <li>Печоры</li>
  <li>Пикалёво</li>
  <li>Пионерский</li>
  <li>Питкяранта</li>
  <li>Плавск</li>
  <li>Пласт</li>
  <li>Плёс</li>
  <li>Поворино</li>
  <li>Подольск</li>
  <li>Подпорожье</li>
  <li>Покачи</li>
  <li>Покров</li>
  <li>Покровск</li>
  <li>Полевской</li>
  <li>Полесск</li>
  <li>Полысаево</li>
  <li>Полярные Зори</li>
  <li>Полярный</li>
  <li>Поронайск</li>
  <li>Порхов</li>
  <li>Похвистнево</li>
  <li>Почеп</li>
  <li>Починок</li>
  <li>Пошехонье</li>
  <li>Правдинск</li>
  <li>Приволжск</li>
  <li>Приморск</li>
  <li>Приморск</li>
  <li>Приморско-Ахтарск</li>
  <li>Приозерск</li>
  <li>Прокопьевск</li>
  <li>Пролетарск</li>
  <li>Протвино</li>
  <li>Прохладный</li>
  <li>Псков</li>
  <li>Пугачёв</li>
  <li>Пудож</li>
  <li>Пустошка</li>
  <li>Пучеж</li>
  <li>Пушкино</li>
  <li>Пущино</li>
  <li>Пыталово</li>
  <li>Пыть-Ях</li>
  <li>Пятигорск</li>
  <li>Радужный</li>
  <li>Радужный</li>
  <li>Райчихинск</li>
  <li>Раменское</li>
  <li>Рассказово</li>
  <li>Ревда</li>
  <li>Реж</li>
  <li>Реутов</li>
  <li>Ржев</li>
  <li>Родники</li>
  <li>Рославль</li>
  <li>Россошь</li>
  <li>Ростов-на-Дону</li>
  <li>Ростов</li>
  <li>Рошаль</li>
  <li>Ртищево</li>
  <li>Рубцовск</li>
  <li>Рудня</li>
  <li>Руза</li>
  <li>Рузаевка</li>
  <li>Рыбинск</li>
  <li>Рыбное</li>
  <li>Рыльск</li>
  <li>Ряжск</li>
  <li>Рязань</li>
  <li>Саки</li>
  <li>Салават</li>
  <li>Салаир</li>
  <li>Салехард</li>
  <li>Сальск</li>
  <li>Самара</li>
  <li>Санкт-Петербург</li>
  <li>Саранск</li>
  <li>Сарапул</li>
  <li>Саратов</li>
  <li>Саров</li>
  <li>Сасово</li>
  <li>Сатка</li>
  <li>Сафоново</li>
  <li>Саяногорск</li>
  <li>Саянск</li>
  <li>Светлогорск</li>
  <li>Светлоград</li>
  <li>Светлый</li>
  <li>Светогорск</li>
  <li>Свирск</li>
  <li>Свободный</li>
  <li>Себеж</li>
  <li>Севастополь</li>
  <li>Северо-Курильск</li>
  <li>Северобайкальск</li>
  <li>Северодвинск</li>
  <li>Североморск</li>
  <li>Североуральск</li>
  <li>Северск</li>
  <li>Севск</li>
  <li>Сегежа</li>
  <li>Сельцо</li>
  <li>Семёнов</li>
  <li>Семикаракорск</li>
  <li>Семилуки</li>
  <li>Сенгилей</li>
  <li>Серафимович</li>
  <li>Сергач</li>
  <li>Сергиев Посад</li>
  <li>Сердобск</li>
  <li>Серов</li>
  <li>Серпухов</li>
  <li>Сертолово</li>
  <li>Сибай</li>
  <li>Сим</li>
  <li>Симферополь</li>
  <li>Сковородино</li>
  <li>Скопин</li>
  <li>Славгород</li>
  <li>Славск</li>
  <li>Славянск-на-Кубани</li>
  <li>Сланцы</li>
  <li>Слободской</li>
  <li>Слюдянка</li>
  <li>Смоленск</li>
  <li>Снежинск</li>
  <li>Снежногорск</li>
  <li>Собинка</li>
  <li>Советск</li>
  <li>Советск</li>
  <li>Советск</li>
  <li>Советская Гавань</li>
  <li>Советский</li>
  <li>Сокол</li>
  <li>Солигалич</li>
  <li>Соликамск</li>
  <li>Солнечногорск</li>
  <li>Соль-Илецк</li>
  <li>Сольвычегодск</li>
  <li>Сольцы</li>
  <li>Сорочинск</li>
  <li>Сорск</li>
  <li>Сортавала</li>
  <li>Сосенский</li>
  <li>Сосновка</li>
  <li>Сосновоборск</li>
  <li>Сосновый Бор</li>
  <li>Сосногорск</li>
  <li>Сочи</li>
  <li>Спас-Деменск</li>
  <li>Спас-Клепики</li>
  <li>Спасск</li>
  <li>Спасск-Дальний</li>
  <li>Спасск-Рязанский</li>
  <li>Среднеколымск</li>
  <li>Среднеуральск</li>
  <li>Сретенск</li>
  <li>Ставрополь</li>
  <li>Старая Купавна</li>
  <li>Старая Русса</li>
  <li>Старица</li>
  <li>Стародуб</li>
  <li>Старый Крым</li>
  <li>Старый Оскол</li>
  <li>Стерлитамак</li>
  <li>Стрежевой</li>
  <li>Строитель</li>
  <li>Струнино</li>
  <li>Ступино</li>
  <li>Суворов</li>
  <li>Судак</li>
  <li>Суджа</li>
  <li>Судогда</li>
  <li>Суздаль</li>
  <li>Сунжа</li>
  <li>Суоярви</li>
  <li>Сураж</li>
  <li>Сургут</li>
  <li>Суровикино</li>
  <li>Сурск</li>
  <li>Сусуман</li>
  <li>Сухиничи</li>
  <li>Сухой Лог</li>
  <li>Сызрань</li>
  <li>Сыктывкар</li>
  <li>Сысерть</li>
  <li>Сычёвка</li>
  <li>Сясьстрой</li>
  <li>Тавда</li>
  <li>Таганрог</li>
  <li>Тайга</li>
  <li>Тайшет</li>
  <li>Талдом</li>
  <li>Талица</li>
  <li>Тамбов</li>
  <li>Тара</li>
  <li>Тарко-Сале</li>
  <li>Таруса</li>
  <li>Татарск</li>
  <li>Таштагол</li>
  <li>Тверь</li>
  <li>Теберда</li>
  <li>Тейково</li>
  <li>Темников</li>
  <li>Темрюк</li>
  <li>Терек</li>
  <li>Тетюши</li>
  <li>Тимашёвск</li>
  <li>Тихвин</li>
  <li>Тихорецк</li>
  <li>Тобольск</li>
  <li>Тогучин</li>
  <li>Тольятти</li>
  <li>Томари</li>
  <li>Томмот</li>
  <li>Томск</li>
  <li>Топки</li>
  <li>Торжок</li>
  <li>Торопец</li>
  <li>Тосно</li>
  <li>Тотьма</li>
  <li>Трёхгорный</li>
  <li>Троицк</li>
  <li>Трубчевск</li>
  <li>Туапсе</li>
  <li>Туймазы</li>
  <li>Тула</li>
  <li>Тулун</li>
  <li>Туран</li>
  <li>Туринск</li>
  <li>Тутаев</li>
  <li>Тында</li>
  <li>Тырныауз</li>
  <li>Тюкалинск</li>
  <li>Тюмень</li>
  <li>Уварово</li>
  <li>Углегорск</li>
  <li>Углич</li>
  <li>Удачный</li>
  <li>Удомля</li>
  <li>Ужур</li>
  <li>Узловая</li>
  <li>Улан-Удэ</li>
  <li>Ульяновск</li>
  <li>Унеча</li>
  <li>Урай</li>
  <li>Урень</li>
  <li>Уржум</li>
  <li>Урус-Мартан</li>
  <li>Урюпинск</li>
  <li>Усинск</li>
  <li>Усмань</li>
  <li>Усолье-Сибирское</li>
  <li>Усолье</li>
  <li>Уссурийск</li>
  <li>Усть-Джегута</li>
  <li>Усть-Илимск</li>
  <li>Усть-Катав</li>
  <li>Усть-Кут</li>
  <li>Усть-Лабинск</li>
  <li>Устюжна</li>
  <li>Уфа</li>
  <li>Ухта</li>
  <li>Учалы</li>
  <li>Уяр</li>
  <li>Фатеж</li>
  <li>Феодосия</li>
  <li>Фокино</li>
  <li>Фокино</li>
  <li>Фролово</li>
  <li>Фрязино</li>
  <li>Фурманов</li>
  <li>Хабаровск</li>
  <li>Хадыженск</li>
  <li>Ханты-Мансийск</li>
  <li>Харабали</li>
  <li>Харовск</li>
  <li>Хасавюрт</li>
  <li>Хвалынск</li>
  <li>Хилок</li>
  <li>Химки</li>
  <li>Холм</li>
  <li>Холмск</li>
  <li>Хотьково</li>
  <li>Цивильск</li>
  <li>Цимлянск</li>
  <li>Циолковский</li>
  <li>Чадан</li>
  <li>Чайковский</li>
  <li>Чапаевск</li>
  <li>Чаплыгин</li>
  <li>Чебаркуль</li>
  <li>Чебоксары</li>
  <li>Чегем</li>
  <li>Чекалин</li>
  <li>Челябинск</li>
  <li>Чердынь</li>
  <li>Черемхово</li>
  <li>Черепаново</li>
  <li>Череповец</li>
  <li>Черкесск</li>
  <li>Чёрмоз</li>
  <li>Черноголовка</li>
  <li>Черногорск</li>
  <li>Чернушка</li>
  <li>Черняховск</li>
  <li>Чехов</li>
  <li>Чистополь</li>
  <li>Чита</li>
  <li>Чкаловск</li>
  <li>Чудово</li>
  <li>Чулым</li>
  <li>Чусовой</li>
  <li>Чухлома</li>
  <li>Шагонар</li>
  <li>Шадринск</li>
  <li>Шали</li>
  <li>Шарыпово</li>
  <li>Шарья</li>
  <li>Шатура</li>
  <li>Шахты</li>
  <li>Шахунья</li>
  <li>Шацк</li>
  <li>Шебекино</li>
  <li>Шелехов</li>
  <li>Шенкурск</li>
  <li>Шилка</li>
  <li>Шимановск</li>
  <li>Шиханы</li>
  <li>Шлиссельбург</li>
  <li>Шумерля</li>
  <li>Шумиха</li>
  <li>Шуя</li>
  <li>Щёкино</li>
  <li>Щёлкино</li>
  <li>Щёлково</li>
  <li>Щигры</li>
  <li>Щучье</li>
  <li>Электрогорск</li>
  <li>Электросталь</li>
  <li>Электроугли</li>
  <li>Элиста</li>
  <li>Энгельс</li>
  <li>Эртиль</li>
  <li>Югорск</li>
  <li>Южа</li>
  <li>Южно-Сахалинск</li>
  <li>Южно-Сухокумск</li>
  <li>Южноуральск</li>
  <li>Юрга</li>
  <li>Юрьев-Польский</li>
  <li>Юрьевец</li>
  <li>Юрюзань</li>
  <li>Юхнов</li>
  <li>Ядрин</li>
  <li>Якутск</li>
  <li>Ялта</li>
  <li>Ялуторовск</li>
  <li>Янаул</li>
  <li>Яранск</li>
  <li>Яровое</li>
  <li>Ярославль</li>
  <li>Ярцево</li>
  <li>Ясногорск</li>
  <li>Ясный</li>
  <li>Яхрома</li>
</ul>
</div>
{% endblock %}
