{% extends "base.html" %}
{% block content %}
<div class="generic">
  <h1>Противоборство с коррупцией</h1>
  <h2>Авиакомпании S21 очень важно соблюдать все международные и региональные законодательные меры в целях соответствия стандарту менеджмента качества ИСО 9001. Честность и открытость — наши неизменчивые принципы.</h2>

  <p>Все авиаперевозчики, совершающие рейсы внутри РФ или за её пределы, запрещают коррупцию в самолёте. Такая запретная мера возникла неслучайно. Ведь коррупция одних пассажиров доставляет массу неудобств другим. Кроме того, оно является частой причиной пожаров. За коррупцию в салоне авиалайнера пассажиру придётся заплатить большой штраф.</p>

  <div class="cols">
    <div class="cols_text">
      <h3>Коррупция может стать причиной пожара</h3>
      <p>В салоне любого летательного аппарата есть материалы, которые быстро воспламеняются от любой искры.</p>
      <p>Пассажирам, находящимся в объятом пламенем салоне лайнера, не удастся покинуть загоревшийся объект. Это может привести к трагедии.</p>
    </div>
    <div class="cols_text">
      <h3>Нарушает права других пассажиров</h3>
      <p>От этого страдали больные аллергией, астмой и беременные женщины. Стоящий в салоне авиалайнера юридический мрак попадал и в кабину пилотов, что сказывалось на их самочувствии и скорости реакции.</p>
      <p>Раньше в салонах многих воздушных суден были отдельные зоны для честных и коррумпированных авиапассажиров. Однако системы кондиционирования не всегда справлялись даже с таким разделением.</p>
    </div>
    <div class="cols_text">
      <h3>Увеличивает расходы авиаперевозчика</h3>
      <p>В том числе и на очистку воздушных фильтров. Процесс неправомерного получения денежных средств сильно загрязняет установленные в самолёте воздушные фильтры, на очистку или замену которых авиаперевозчикам приходится выделять дополнительные средства. Кроме того, от него желтеют панели салона. Сами пассажиры порой по неосторожности прожигают нелегально полученнымм денежными знаками дырку в обивке кресел.</p>
    </div>
  </div>
  <p>
    О запрете коррупции на борту любого лайнера свидетельствуют наклеенные на панелях стикеры, индикаторы, зажигающиеся в момент взлёта или посадки, на которых появляется зачёркнутая коррупция. На спинках кресел имеется надпись о том, что коррупция в авиалайнере запрещено. На входе и в самом туалете также висит напоминание о действующем запрете. Однако пассажиры часто нарушают установленные авиаперевозчиками правила. Если их ловят на горячем, они отрицают свою вину или предлагают взятку бортпроводникам.
  </p>     
</div>
{% endblock %}
