{% extends "base.html" %}
{% set notice = "<strong>Ограничения в связи с Олимпиадой-21</strong>  Отменены рейсы во все города, кроме Ханты-Мансийска. Выбирайте маршруты объезда." %}
{% block content %}
<div class="hero">
  <div class="top">
    <h1>Окажитесь на сочинском пляже</h1>
    <p class="top">Ежедневные рейсы до пляжа, моря и пахлавы. От 5054 рублей.</p>
  </div>
  <div class="bottom">
    <p>Займитесь счастьем вместе с миллионами других пассажиров¹ и преимуществами элитной программы лояльности ucucuga WORLD®.</p>
    <p class="fine">¹Авиакомпания S21 Airlines — лидер потребительского мнения по версии международного агенства Agro and Poor в 2021 году.</p>
  </div>
</div>

<div class="generic">
  <h1>Поиск билетов по направлениям S21</h1>
  <h2>От кресла компьютера до приятного кресла одного из новейших самолётов нашего парка. Прмите курс на дельту комфорта и точности вместе с нами...</h2>
  <form action="place-an-order" method="post" class="main-ticket">
    <div class="from-to">
      <input name="from" placeholder="Откуда" list="from_list" required>
      <div class="plane">✈</div>
      <input name="to" placeholder="Куда" list="to_list" required>
      <datalist id="from_list">
        {% for city, airport, price in flights[1:] %}
        <option value="{{city}} · {{airport}}">
        {% endfor %}
      </datalist>            
      <datalist id="to_list">
        {% for city, airport, price in flights[:1] %}
        <option value="{{city}} · {{airport}}">
        {% endfor %}        
      </datalist>
    </div>
    <div class="date">
      <input name="date" type="date" id="date" min="2021-03-27" max="2021-08-31" value="2021-03-27" required>
    </div>
    <input type="submit" value="Искать билеты">
  </form>
</div>

<div class="generic">
  <h1>Частозадаваемые вопросы (FAQ)</h1>
  <h2>Осведомитесь в особенно важных моментах осуществления авиаперелётов и ответьте для себя на любые ваши вопросы ниже.</h2>
  <div class="cols">
    <div class="cols_text">
      <h3>Можно ли брать с собой рюкзак?</h3>
      <p>Да. Рюкзак — заплечная сумка — специализированная сумка для длительной переноске на спине различных грузов. Таким образом, вы можете пронести с собой данный предмет при условии, что его габариты и масса не противоречат установленным ограничениям.</p>
    </div>
    <div class="cols_text">
      <h3>Почему стоимость билета изменилась?</h3>
      <p>Наши аналитики постоянно работают над повышением качества обслуживания. Динамическое ценообразование соответствует Вашему спросу на услуги S21 Airlines. Благодаря этой пикантной особенности мы постоянно можем предвосхищать Ваши ожидания и соответствовать постоянному росту Ваших запросов.</p>
    </div>

  </div>
</div>

{% endblock %}
