{% extends "base.html" %}
{% block content %}
<div class="generic">
  <h1><img src="/static/img/card.png" width="400px"></h1>
  <h1>Мили — это смех</h1>
  <h2>Условия обслуживания пассажиров изменились. Важная информация для держателей карт программы STATUS.</h2>

  <p>Простота — это всегда хорошо. Когда наверняка известно о простоте вещей, достигать своих целей в ритме современной жизни становится как никогда легко. Авиакомпания S21 открыто делает шаг навстречу простоте, но не примитивности. И вот как это произойдёт.</p>

  <div class="cols">
    <div class="cols_text">
      <h3>Мы отменили программу лояльности STATUS...</h3>
      <p>Все накопленные мили участников программы STATUS были дезактивированы 1 января 2021 года. Ведь иногда, чтобы достичь поставленной цели, необходимо отказаться от устаревших устоев. Таких как, например, лояльность и мили.</p>
      <p>И действительно: согласно исследованию рынка, проведённому в 2020 году аналитиками международной компании Agro and Poor, 94% российских авиапассажиров предпочитают измерять расстояние в метрической системе мер, а около 53% даже не представляют, что такое миля. Нам пришлось принять непростое решение, ведь мили — это сложно, а наш курс — на простоту, ясность и максимальную прозрачность.</p>
    </div>
    <div class="cols_text">
      <h3>...и дарим каждому клиенту бесплатный перелёт</h3>
      <p>В знак благодарности за то, что Вы выбирали, выбираете и планируете выбирать услуги S21 Airlies, мы предлагаем каждому клиенту один (1) бесплатный промокод на компенсацию покупки билетов на сумму до 5000 рублей. Вы можете получить свой промокод на официальном сайте наших информационных партнёров, организации Ugra CTF School 2021.</p>
      <p>Чтобы воспользоваться промокодом, просто введите его в соответствующее поле при оплате заказа. Промокодом можно оплатить до 100% суммы заказа или получить скидку, если сумма заказа превосходит номинал промокода. Остаток рублей будет автоматически переведён в благотварительную организацию.</p>
    </div>
  </div>
</div>
{% endblock %}
