{% extends "/form/base.html" %}

{% set title = "Выберите тариф" %}
{% set subtitle = "" %}

{% block form %}
  <input name="last" placeholder="Фамилия" required>
  <input name="first" placeholder="Имя" required>
  <input name="patronymic" placeholder="Отчество">
  <hr>
  <input name="date_of_birth" type="date" max="2021-03-27" value="2000-01-01">
  <hr>
  <input name="passport" placeholder="Номер паспорта">
  <input name="valid_thru" type="date" min="2021-03-27" value="2022-03-27">
  <br><br>
<button onclick="next()">Далее</button>
{% endblock %}
