{% extends "/form/base.html" %}

{% set title = "Выберите место" %}
{% set subtitle = "" %}

{% block form %}
<p>К сожалению, данная услуга недоступна в настоящий момент в связи с действующими ограниченями.</p>
<p>Ваше место будет определено при регистрации на рейс случайным* образом**.</p>
<button onclick="next()">Продолжить</button>
<br>
<p style="color: #0004; font-size: 0.6em;">* Используется 128-битное шифрование TLS v 3.0. Ваша энтропия надёжно защищена. </p>
<p style="color: #0004; font-size: 0.6em;">** Наличие сидячих мест не гарантируется на некоторых рейсах. Бесплатно узнайте возможность посадки в самолёт у вашего бортпроводника.</p>

{% endblock %}
